<div ng-conroller="MainCtrl">
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Products</a></li>
    <li><a ng-href="#/newPage">About</a></li>
  </ul>
  <h1 class="text-muted">Crossfit Depot</h1>
</div>

<div class="col-md-12">

<div ng-controller="productCtrl" class="">
  <div ng-repeat="product in products" class="crossfitGear">
  <ul>
    <li>
      <h3> 
        {{product.name}} 
        <em class="pull-right"> {{product.price | currency}} </em>
      </h3>
    </li>
    <li> <img ng-src="{{product.thumbnail}}"></img> </li>
  </ul>

      <section ng-controller="PanelController as panel">
        <ul class="nav nav-pills">
          <li ng-class="{active: panel.isSelected(0)}"> 
            <a href ng-click="panel.selectTab(0)">Description</a> 
          </li>
          <li ng-class="{active: panel.isSelected(1)}"> 
            <a href ng-click="panel.selectTab(1)">More Photos</a> 
          </li>
          <li ng-class="{active: panel.isSelected(2)}"> 
            <a href ng-click="panel.selectTab(2)">Reviews</a> 
          </li>
        </ul>
        <div class="panel" ng-show="panel.isSelected(0)">
          <h4>Description </h4>
          <p>{{product.description}}</p>
        </div>
        <div class="panel" ng-show="panel.isSelected(1)">
          <img ng-src="{{product.pic}}"></img>
        </div>
        <div class="panel" ng-show="panel.isSelected(2)">
          <h4>Reviews </h4>
          <blockquote ng-repeat="review in product.reviews">
            <b>Stars: {{review.stars}}</b>
            <br>
            {{review.body}}
            <br>
            <cite>by: {{review.author}}</cite>
          </blockquote>
          <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)">
            <blockquote>
              <b>Stars: {{reviewCtrl.review.stars}}</b>
              <br>
              {{reviewCtrl.review.body}}
              <br>
              <cite>by: {{reviewCtrl.review.author}}</cite>
            </blockquote>
            <select ng-model="reviewCtrl.review.stars">
              <option value="1">1 star</option>
              <option value="2">2 star</option>
              <option value="3">3 star</option>
              <option value="4">4 star</option>
              <option value="5">5 star</option>
            </select>
            <br>
            <textarea ng-model="reviewCtrl.review.body" cols="50" rows="3"></textarea>
            <br>
            <label>by:</label>
            <input ng-model="reviewCtrl.review.author" type="email" />
            <input type="submit" value="Submit" />  
          </form>
        </div>
      </section>
      <div>
        <p>Quantity</p>
        <input type="number" ng-model="product.quantity">
        <button ng-click="addItem(product)" class="addBtn">Add to Cart</button>
      </div>
  </div>

<h3><span class="glyphicon glyphicon-shopping-cart shopCart"></span> Checkout</h3>
<div class="row checkOut">
  <div ng-repeat="product in purchased" class="purchaseItem">
    <button ng-click="removeItem($index)" class="removeBtn pull-right">Remove</button>
    <h4>{{product.name}}: {{product.quantity}}</h4>
    <p>{{product.price | currency}}<p>
    
  </div>
  
</div>
</div>

</div>


</div>


